$header-color-dark: #2c3743;
$main-bgcolor-dark: #212e37;
$shadow-color-dark: #1d2a33;
$font-color-dark: #ffffff;

$shadow-color: #dcdcdc;
$font-color: #151515;
$header-color: #ffffff;
$main-bgcolor: #fafafa;
